.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background: -webkit-linear-gradient(left, rgba(30,83,114,1) 0%,  rgba(6,189,174,1) 100%);
}

.Navbar__brand {
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
  width: 10%;
}